@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

@media (max-width: 1199px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 20px 40px;
  }
}
header {
  width: 100%;
  text-align: center;
  background-color: #449944;
  margin-bottom: 30px;
  border-bottom: 3px #005500 solid;
}
header .blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px auto;
  text-align: center;
  vertical-align: bottom;
}
header .blog-title h2 {
  font-size: 25px;
  margin: 0;
}
header .blog-title h2 a {
  text-decoration: none;
  color: #202020;
}
header .blog-title h2 a:hover {
  -webkit-text-decoration: underline 3px;
  text-decoration: underline 3px;
  color: #202020;
}
header .blog-title h2:after {
  content: "›";
  margin: 0.4em;
  color: #505050;
}
header .blog-title h1 {
  font-size: 30px;
  margin: 0;
  -ms-flex-item-align: center;
  align-self: center;
}

@media (max-width: 1199px) {
  .hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@media (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.hamburger {
  height: 60px;
  width: 60px;
  padding-right: 30px;
  z-index: 100;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .hamburger span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .hamburger span {
    display: none;
  }
}
.hamburger span:nth-child(1) {
  top: 15px;
}
.hamburger span:nth-child(3) {
  bottom: 15px;
}
.hamburger.active span:nth-child(1) {
  top: 40%;
  left: 20%;
  -webkit-transform: translateY(6px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: 60%;
  left: 20%;
  -webkit-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}

.main-container {
  margin: auto 20px;
}
@media (min-width: 1200px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-container main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main-container main .blog-content {
  margin-bottom: 10%;
}
.main-container main .blog-content h1 {
  border-bottom: solid 4px #005500;
}
.main-container main .blog-content h2 {
  background-color: #f0f0f0;
  padding-left: 20px;
  border-left: solid 7px #005500;
  border-radius: 4px;
}
.main-container main .blog-content h2 ~ * {
  margin-left: 20px;
}
.main-container main .blog-content h3 {
  background-color: #f0f0f0;
  padding-left: 20px;
  border-left: solid 7px #117711;
  border-radius: 4px;
}
.main-container main .blog-content h3 ~ * {
  margin-left: 40px;
}
.main-container main .blog-content .inyou {
  display: block;
  border-left: 4px solid gray;
  padding-left: 10px;
}
.main-container main .blog-content .rainbow {
  background: -webkit-gradient(linear, left top, right top, from(orange), color-stop(yellow), color-stop(green), color-stop(cyan), color-stop(blue), to(violet));
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.main-container main .new-article {
  margin: 30px 20px 0px 20px;
}
@media (max-width: 1199px) {
  .main-container main .new-article {
    margin-bottom: 50px;
  }
}
.main-container main .new-article > h1 {
  text-align: center;
  border-bottom: 5px solid #005500;
}
.main-container main .new-article ol {
  list-style: none;
  padding-left: 0px;
}
.main-container main .new-article ol li:nth-child(n+2) {
  border-top: 2px dotted gray;
}
.main-container main .new-article ol li .article-container {
  gap: 20px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px 20px 40px;
  background-color: #f0f0f0;
}
.main-container main .new-article ol li .article-container .article-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-container main .new-article ol li .article-container .article-title h1 {
  font-size: 20px;
}
.main-container main .new-article ol li .article-container .article-title h1 a {
  text-decoration: none;
  color: black;
}
.main-container main .new-article ol li .article-container .article-title h1 a:hover {
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
}
.main-container main .new-article ol li .article-container .article-title .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .main-container main .new-article ol li .article-container .article-title .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 1199px) {
  .main-container main .new-article ol li .article-container .article-title .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.main-container main .new-article ol li .article-container .article-title .info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 20px;
}
.main-container main .new-article ol li .article-container .article-title .info .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}
@media (min-width: 1200px) {
  .main-container main .new-article ol li .article-container .article-title .info .tag {
    margin: 0 20px;
  }
}
.main-container main .new-article ol li .article-container .article-title .info .tag h2 {
  background-color: #D0D0D0;
  border-radius: 15px;
  white-space: nowrap;
  padding: 5px 15px;
  font-size: 15px;
}
.main-container main .new-article ol li .article-container .article-title .info h2.update-date {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}
@media (min-width: 1200px) {
  .main-container main .new-article ol li .article-container .article-title .info h2.update-date::before {
    content: "更新日: ";
    white-space: nowrap;
  }
}
.main-container main .new-article ol li .article-container p {
  border-left: 2px solid gray;
  padding-left: 20px;
}

@media (max-width: 1199px) {
  .main-container > .other-sites {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.85);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-y: auto;
  }
  .main-container > .other-sites > h1 {
    color: #d0d0d0;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 1em;
  }
  .main-container > .other-sites ul {
    list-style: none;
    padding-left: 0px;
  }
  .main-container > .other-sites ul li {
    margin: 20px;
  }
  .main-container > .other-sites ul li .site-container {
    margin: 20px;
  }
  .main-container > .other-sites ul li .site-container a {
    color: #d0d0d0;
    text-decoration: none;
    font-size: 0.5em;
  }
  .main-container > .other-sites ul li .site-container a h1 {
    overflow-wrap: anywhere;
  }
  .main-container > .other-sites ul li .site-container a:hover {
    -webkit-text-decoration: underline #d0d0d0;
    text-decoration: underline #d0d0d0;
  }
  .main-container > .other-sites ul li .site-container p {
    color: #b0b0b0;
  }
  .main-container > .other-sites ul li:nth-child(n+2) {
    border-top: 1px solid white;
  }
}
@media (min-width: 1200px) {
  .main-container > .other-sites {
    margin-left: auto;
    min-width: 30%;
    margin: 0px 20px;
  }
  .main-container > .other-sites > h1 {
    margin-bottom: 0px;
  }
  .main-container > .other-sites ul {
    margin-top: 0px;
    list-style: none;
    padding-left: 0px;
  }
  .main-container > .other-sites ul li {
    padding: 10px 0px;
  }
  .main-container > .other-sites ul li:nth-child(n+2) {
    border-top: 1px solid gray;
  }
  .main-container > .other-sites ul li .site-container {
    background-color: #f0f0f0;
    background-origin: content-box;
    padding: 20px 20px;
    border-radius: 10px;
  }
  .main-container > .other-sites ul li .site-container a {
    text-decoration: none;
    color: black;
  }
  .main-container > .other-sites ul li .site-container a:hover {
    -webkit-text-decoration: underline 2px;
    text-decoration: underline 2px;
  }
  .main-container > .other-sites ul li .site-container a h1 {
    font-size: larger;
    border-bottom: 1px dotted gray;
    margin: 0;
    overflow-wrap: anywhere;
  }
  .main-container > .other-sites ul li .site-container p {
    margin: 10px 0 0 0;
  }
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 260px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #449944;
  padding: 20px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer .navigation {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .navigation h1 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border-right: 4px solid #44BB44;
  color: #005500;
  margin-top: 20px;
  font-size: 60px;
}
footer .navigation ul {
  padding-top: 30px;
  list-style: none;
  padding-left: 0px;
}
footer .navigation ul a {
  text-decoration: none;
  color: black;
}
footer .navigation ul a li {
  margin-bottom: 0.5em;
  margin-right: 2em;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-weight: 700;
}
footer .navigation ul a li:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #005500;
  text-decoration: underline;
}
footer .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
  border-radius: 40px;
  padding: 20px 150px 20px 50px;
  background-color: #117711;
  max-width: 50%;
}
footer .author h2 {
  font-size: 1.3em;
  font-weight: 700;
}
footer .author img {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
footer .author {
  -webkit-box-shadow: #005500 0.2em 0.2em 0.1em;
  box-shadow: #005500 0.2em 0.2em 0.1em;
}
@media (max-width: 1199px) {
  footer .author {
    padding-right: 50px;
  }
  footer .author .infomation {
    display: none;
  }
}