@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.main-container {
  margin: auto 20px;
}
@media (min-width: 800px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.inyou {
  display: block;
  border-left: 4px solid gray;
  padding-left: 10px;
}

.blog-content h1 {
  border-bottom: solid 4px #010188;
}
.blog-content h2 {
  background-color: #F0F0F0;
  padding-left: 20px;
  border-left: solid 7px #7777FF;
  border-radius: 4px;
}
.blog-content h2 ~ * {
  margin-left: 20px;
}
.blog-content h3 {
  background-color: #F0F0F0;
  padding-left: 20px;
  border-left: solid 7px #33DD33;
  border-radius: 4px;
}
.blog-content h3 ~ * {
  margin-left: 40px;
}

.new-article {
  margin: 30px 20px 0px 20px;
}
@media (max-width: 799px) {
  .new-article {
    margin-bottom: 50px;
  }
}
.new-article > h1 {
  text-align: center;
  border-bottom: 5px solid #4444AA;
}
.new-article ol {
  list-style: none;
  padding-left: 0px;
}
.new-article ol li:nth-child(n+2) {
  border-top: 2px dotted gray;
}
.new-article ol li .article-container {
  gap: 20px;
  margin: 10px;
  border-radius: 5px;
  padding: 10px 20px 20px 40px;
  background-color: #f0f0f0;
}
.new-article ol li .article-container .article-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.new-article ol li .article-container .article-title h1 {
  font-size: 20px;
}
.new-article ol li .article-container .article-title h1 a {
  text-decoration: none;
  color: black;
}
.new-article ol li .article-container .article-title h1 a:hover {
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
}
.new-article ol li .article-container .article-title .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .new-article ol li .article-container .article-title .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (max-width: 1199px) {
  .new-article ol li .article-container .article-title .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.new-article ol li .article-container .article-title .info {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 20px;
}
.new-article ol li .article-container .article-title .info .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}
@media (min-width: 1200px) {
  .new-article ol li .article-container .article-title .info .tag {
    margin: 0 20px;
  }
}
.new-article ol li .article-container .article-title .info .tag h2 {
  background-color: #D0D0D0;
  border-radius: 15px;
  white-space: nowrap;
  padding: 5px 15px;
  font-size: 15px;
}
.new-article ol li .article-container .article-title .info h2.update-date {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}
@media (min-width: 1200px) {
  .new-article ol li .article-container .article-title .info h2.update-date::before {
    content: "更新日: ";
    white-space: nowrap;
  }
}
.new-article ol li .article-container p {
  border-left: 2px solid gray;
  padding-left: 20px;
}

@media (max-width: 799px) {
  .main-container aside {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.85);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow-y: auto;
  }
  .main-container aside ul {
    list-style: none;
    padding-left: 0px;
  }
  .main-container aside li {
    margin: 20px;
    padding-left: 20px;
  }
  .main-container aside li a {
    font-size: 0.6em;
    text-decoration: none;
    color: #d0d0d0;
  }
  .main-container aside li a:hover {
    -webkit-text-decoration: underline #d0d0d0;
    text-decoration: underline #d0d0d0;
  }
  .main-container aside li:nth-child(n+2) {
    border-top: 1px solid #BBBBBB;
  }
  .main-container aside .menu {
    margin: 20px;
    padding-left: 20px;
  }
  .main-container aside .menu a {
    color: #d0d0d0;
    text-decoration: none;
  }
  .main-container aside .menu a:hover {
    -webkit-text-decoration: underline #d0d0d0;
    text-decoration: underline #d0d0d0;
  }
  .main-container aside .menu p {
    color: #b0b0b0;
  }
  .other-sites > h1 {
    color: #d0d0d0;
    font-size: 1em;
    margin-top: 50px;
    margin-left: 30px;
  }
}
@media (min-width: 800px) {
  .main-container aside {
    margin-left: auto;
    min-width: 30%;
    margin: 0px 20px;
  }
  .other-sites > h1 {
    margin-bottom: 0px;
    color: black;
  }
  .other-sites ul {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
  }
  .other-sites li {
    padding: 10px 0px;
    color: black;
  }
  .other-sites li:nth-child(n+2) {
    border-top: 1px solid gray;
  }
  .other-sites .menu {
    background-color: #F0F0F0;
    background-origin: content-box;
    padding: 20px 20px;
    border-radius: 10px;
  }
  .other-sites .menu a {
    text-decoration: none;
    color: black;
  }
  .other-sites .menu a:hover {
    -webkit-text-decoration: underline 2px;
    text-decoration: underline 2px;
  }
  .other-sites .menu h1 {
    font-size: larger;
    border-bottom: 1px dotted gray;
    margin: 0;
  }
  .other-sites .menu p {
    margin: 10px 0 0 0;
  }
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 260px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #7777FF;
  padding: 20px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}
footer .navigation {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .navigation h1 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border-right: 4px solid #AAAAFF;
  color: #4444AA;
  margin-top: 20px;
  font-size: 60px;
}
footer .navigation ul {
  padding-top: 30px;
  list-style: none;
  padding-left: 0px;
}
footer .navigation ul a {
  text-decoration: none;
  color: black;
}
footer .navigation ul a li {
  margin-bottom: 0.5em;
  margin-right: 2em;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-weight: 700;
}
footer .navigation ul a li:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #4444AA;
  text-decoration: underline;
}
footer .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
  border-radius: 40px;
  padding: 20px 150px 20px 50px;
  background-color: #6666FF;
  max-width: 50%;
}
footer .author h2 {
  font-size: 1.3em;
  font-weight: 700;
}
footer .author img {
  height: 100px;
  width: 100px;
  display: block;
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
footer .author {
  -webkit-box-shadow: #4444AA 0.2em 0.2em 0.1em;
  box-shadow: #4444AA 0.2em 0.2em 0.1em;
}
@media (max-width: 799px) {
  footer .author {
    padding-right: 50px;
  }
  footer .author .infomation {
    display: none;
  }
}